*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Bruno Ace SC", sans-serif;
  line-height: 1.5;
}

a {
  display: block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.material-icons {
  vertical-align: top;
}

.container {
  width: 1296px;
  margin: 0 auto;
}